body{
    font-family: PopReg;
}

header{
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow:1px 1px 8px #595959;
    z-index: 10;
}

header #logo{
    max-width: 250px;
    margin: 0.5em 1em;
}
/*FONTS*/
    @font-face {
        font-family: PopReg;
        src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    }
    @font-face {
        font-family: PopMed;
        src: url("../fonts/Poppins-Medium.ttf") format("truetype");
    }
    @font-face {
        font-family: PopBold;
        src: url("../fonts/Poppins-Bold.ttf") format("truetype");
    }
    @font-face {
        font-family: PopSB;
        src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
    }

/*NAVBAR*/
    nav{
        margin-top: 0.5em;
        float: right;
        vertical-align: middle;
        /* border: 3px solid red; */
    }

    #navbar_back{
        max-height: 130px;
        background-image: url("../images/navBarBackgrnd.png");
        background-size: cover;
    }

    .menu{
        display: block;
        list-style: none;
        margin-left: 0;
        padding: 0.5em 2em;
        z-index: 10;
    }

    nav ul li{
        font-family:rubik, sans-serif;
        margin: 0.3em 1em 0 1em;
        display: inline-block;
        font-weight: 700;
        font-size: 1.2em;
    }

    nav li a{
        color: #fff;
        margin: 0.2em;
        padding: 0.3em;
        /* border: 1px solid #000; */
        text-decoration: none;
        text-shadow: 0 0 5px #280606;
    }

    .listarrow{
        width: 16px;
        vertical-align: top;
        margin-top: 4px;
        -webkit-filter: drop-shadow(0 0 6px #280606);
        filter: drop-shadow(0 0 6px #280606);
    }

    .currentPage{
        opacity: 0.5;
        filter: drop-shadow(0 0 5px #7d4700);
    }

    /*Button for responsive menu, it is hidden until 800px media query*/
    #btnHamburger, .hamburgerImg{
        display: none;
    }

    nav li a:hover{
        border-bottom: 3px solid #fff;
        opacity: 0.6;
    }

    nav li a:active{
        opacity: 0.2;
    }

    /*DROPDOWN LIST*/
        .dropdown{
            cursor: pointer;
        }
        
        .dropdown-content{
            display: none;
            position: absolute;
            top: 4.4em;
            margin-top: 20px;
            padding: 0.2em;
            font-size: 0.8em;
            margin: 0 auto;
            color: #595959;
            /* border-left: 1px solid #e25252; */
            background-color: #fff;
            text-shadow: none;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 15;
        }

        .dropdown-content a {
            text-align: left;
            color: #595959;
            display: block;
            text-align: left;
            background-color: #fff;
            text-shadow: none
        }

        .dropdown-content a:hover{
            opacity: 1;
            color: #e25252;
        }
        
        .dropdown:hover .dropdown-content {
            display: block;
            /* background-color: #e25252; */
        }
            
    
/*SLIDERS & BANNERS*/
    .slider{
        margin-top: 0;
        position: relative;
        height: 450px;
        /* border: 1px solid blue; */
        padding: 0;
        
    }

    .background{
        height: 450px;
        width: 100%;
        object-fit: cover;
        object-position: 10% 10%;
        
    }
    .slidertext1 {
        position: absolute;
        top: 20%;
        right: 0;
        margin: 0;
        padding: 1em 0 1em 1em;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-top: 5px solid #ffffff80;
        border-bottom: 5px solid #ffffff80;
        border-left: 5px solid #ffffff80;
        z-index: 1;
    }
    .arrow{
        max-width: 200px;
        opacity: 0.7;
    }
    .slidertext1 p{
        font-family: PopMed;
        max-width: 200px;
        margin-left: 1em;
        text-align: left;
        font-weight: 600;
        font-style: oblique;
        font-size: 1.5em;
        color: #4f4f4f;
        padding: 0.5em 5em 0.5em 1em;
        background-color: #ffffffeb;
        text-shadow: 1px 1px 6px #ffffff;
    }
    .slidertext1 p span{
        color: #000;
        font-size: 1.1em;
    }
    .carousel{
        position: relative;
    }
    .slidercontrols{
        width: 100%;
        /* border: 1px solid red; */
        position: absolute;
        bottom: 4%;
        left: 0;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        z-index: 4;

    }
    .sliderbtn{
        font-size: 2em;
        font-weight: 600;
        margin: 0 5px;
        padding: 3px 8px 0;
        color: #444444;
        background-color: #ffffffce;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 1px 1px 6px #000000;
    }

    .sliderbtn:hover{
        background-color: #e25252;
        color: #fff;
    }


    .banner img{
         width: 100%;
    }

    .banner{
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
    }

    .banner:hover{
        filter: none;
        -webkit-filter: none;

    }




/*BODY & MAIN - Titles, headings, paragraphs*/
    main{
        margin: 2em 8em;
    }
    /*This class solves the sticky header from blocking anchored content*/
    .anchor {
        scroll-margin-top: 6rem;
    }
    .sectionheader{
        background-image: linear-gradient(90deg,#e25252, rgb(241, 106, 72),#e25252) ;
        padding: 0px 0.8em;
        color: #fff;
        height: fit-content;
    }

    .sectionheader img{
        float: right;
        margin: -6px;
        padding: 0;
        display: inline;
        height: 3.1em;
    }

    h1{
        font-family: PopReg;
        display: inline;
    }

    h2{
        font-family: PopReg;
        font-size: 1.8em;
        margin: 0.4em 0 0 0;
        text-shadow:2px 2px 5px #c5c5c5;
    }

    .col1{
        min-width: 250px;
        padding-left: 50px;
        margin-bottom: 30px;
    }

    .rows{
        max-width: 1080px;
        margin: auto;
        padding-right: 25px;
    }

    .col1 img{
        width: 200px;
        padding: 1.2em;
    }

    .categories{
        margin: 20px 0;
        color: #e25252;
    }

    .categories p, .categories ul{
        color:#444444;
    }
/*STEPS PRE & POST ARRIVAL*/
    .steps{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        margin-bottom: 3em;
    }

    .steps button{
        width: 25em;
        border: 12px solid #ffffff;
        border-radius: 6px;
        box-shadow:1px 1px 5px #bdbdbd;
        background-color: #f6f6f6;
        margin: 0 1em;
        cursor: pointer;
    }

    .steps button:hover{
        background-color: #e2525255;
        box-shadow:1px 1px 8px #2f2f2f;
    }

    .steps div.big-number{
        font-family:PopBold;
        font-size: 6em;
        margin: 0;
        color: #7b7b7b;
    }

    .steps h3{
        font-family: PopReg;
        font-size: 1.2em;
        margin: 0 0 0.6em;
        color: #444444;
    }

    .steps span{
        color: #e25252;
        font-size: 120%;
    }

    .steps ol li{
        color: #2f2f2f;
        font-family: PopSB;
        padding: 2px 0;
        text-align: left;
        list-style: decimal;
    }

    .steps ol li::marker{
        font-weight: bold;
        color: #e25252;
    }
    

/* START OF ABOUT US AND SERVICES SECTION*/
/*----------------------------------------------
----------ABOUT US SECTION--------------------
----------------------------------------------*/
#aboutus {
    background-color: #e25252;
    background-size: cover;
  }

  .app-text{
    padding-top: 30px;
    margin-bottom: 70px;
  }
.app-text img{
    float:right;
    width:30%;
    padding-top: 70px;
    margin-right: 10px;
    border-radius: 60%;
    padding-right: 30px;
    padding-bottom: 90px;
    margin-left: 35px;
  
}
.app-text h1{
    color: #fff4f4;
    margin-left: 100px;
    font-size: 75px;
    padding-bottom: 10px;
    padding-left: 60px;
    
  }

.app-text p{
    color: #f5f5dc;
    font-size: 20px;
    padding-left: 80px;
    padding-top: 15px;
    padding-bottom: 20px;
} 
/*----------------------------------------------
----------SERVICES SECTION--------------------
----------------------------------------------*/
#services {
    height: 50vh;
    background-color: #fff;
    background-size: cover;
    margin-top: -110px;
    
  }
.services{
    max-width: 1060px;
    margin: 0 auto;
  }

.services img{
    float:left;
    width:25%;
    padding-top: 100px;
    border-radius: 60%;
    padding-right: 30px;
    padding-bottom: 20px;
    margin-left: 55px;
}

.serv h1{
    color: #e25252;
    margin-left: 100px;
    font-size: 75px;
    padding-bottom: 10px;
    padding-left: 60px;
    
  }

.services p{
    color: #585854;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
} 
.pp {
    padding-bottom: 30px;
}
.servs h2{
    color: #e25252;
    margin-left: 100px;
    font-size: 75px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 44px;
}
 .servscol-3 h1 p{
    float: right;
}
 .servscol-3 img{
    float: left;
}
 .servscol-3 p{
    margin-left: 20px;
    margin-bottom: 35px;
    margin-right: 20px;
}
 .servsrow{
    margin-left: -50px;
}
 .servssmall-container{
    max-width: 1000px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

.servscol-3{
    margin-top: 30px;
    margin-bottom: 10px;
}
.servscol-3 img{
    width: 150px;
    padding: 20px;
  }
   .categoriesservs{
    margin: 70px 0;
    margin-bottom: 150px;
  }
 .servscol-3{
    flex-basis: 30%;
    /* min-width: 250px; */
    padding-left: 20px;
    margin-bottom: 90px;
    margin-top: 50px;
    
  }
  .toto{
    color: #e25252;
    margin-left: 50px;
    font-size: 75px;
    padding-bottom: 10px;
    padding-left: 60px;
  }
  
/*KNOW MORE BUTTON*/
.knowbtn{
    background-color: #e25252;
    color: #ffffff;
    width: 220px;
    height: 55px;
    border: 2px solid transparent;
    font-family: PopBold;
    border-color: white;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-width: 3px;
    margin-bottom: 50px;

}
.knowbtn:hover{
    background-color: white;
    border-color: #e25252;
    border-width: 3px;
    color: #e25252;
    
}
/* END OF ABOUT US AND SERVICES SECTION*/


/*SERVICES*/
    #services{
        margin: auto;
        color: rgb(45, 45, 45);
        border-left: 1px solid #e25252;
        border-radius: 3px;  
    }

    #services hr{
        margin: 5px 0;
        height: 3px;
        color: #e25252;
    }
a{
    text-decoration: none;  
}


.footer{
    font-size: 14px;
    padding:30px 0;
    background-color:#e25252;
    color: pink;
  }
  a{
    text-decoration: none;
  }
  .footer a{
    color: papayawhip;
  }
  .footer p{
    color: papayawhip;
  }
  .footer h3{
    color: pink;
  }
  .footer ul{
    padding-left:10px;
  }
  .sociallinks{
    margin-top: 10px;
    
  }
  .footer hr{
    border: none;
    background: papayawhip;
    height: 2px;
    margin: 20px 0;
  }
  .copyright{
    text-align: center;
  }
  .footercontainer{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  .footerrow{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }

/*RESPONSIVENESS*/
/*950px*/
@media only screen and (max-width: 950px) {
    #logo{
        width: 14em;
    }

    #navbar_back{ 
        margin-right: -2.9em;
        background-image: url("../images/navBarBackgrnd.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .menu{
        display: block;
    }
    
    nav ul li{
        /* margin: 0.6em 1.1em 0.2em 0.4em; */
        margin: 0.3em 1em 0.2em 0;
    }

    nav li a{
        color: #fff;
        margin: 0.2em ;
        padding: 0.3em ;
    }

    .dropdown-content a {
        padding: 0.3em;
    }

    .background{
        position: absolute;
    }

    main{
        margin: 2em 3em;
    }

    .team img{
        width: 200px;
    }

    .col1 img{
        width: 180px;
    }

    .services p{
        margin-top: 5px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .services h1 {
        font-size: 50px;
        margin-left: -20px;
        margin-bottom: -20px;
    }
    .servssmall-container h2{
        margin-top: -10px;
        font-size: 40px;
        margin-left: -80px;
    }
    .servscol-3 img{
        margin-right: 30px;
        margin-top: 20px;
    }
    .servscol-3 h1{
        font-size: 20px;
        margin-left: -195px;
        margin-top: -80px;
    }

    .services img{
        margin-top: -20px;
        width: 220px;
    }

    .servscol-3{
        margin-bottom: 70px;
    }

    .servscol-3 p{
        margin-top: 20px;
        margin-right: 20px;
        word-wrap: break-word;
    }

}
/*800px*/
@media only screen and (max-width: 800px) {

    header{
        position: static;
        box-shadow:none;
    }

    #logo{
        width: 13em;
    }

    nav{
        margin-top: 0px;
        width: 100%;
        /* z-index: 1; */
    }

    #navbar_back{
        max-height: none;
        margin: 0;
        background-image: none;
    }

    #btnHamburger{
        float: right;
        margin-top: -55px;
        display: block;
        background-color: #fff;
        border: none;
        cursor: pointer;
    }
    
    .hamburgerImg{
        display: block;
        max-width: 4em;
        margin-right: 1em;
        margin-bottom: 1.5em;
    }

    .menu{
        display: none;
        margin: 0;
        clear: right;
        padding: 0;
        text-align: center;
        flex-direction: column;
        }

    nav ul li {
        color: #fff;
        margin: 0;
        padding: 0;
        width: 100%;
        display: inline-block;
        border: 1px solid #ffffff;
        text-decoration: none;
        text-shadow: 0 0 5px #280606;
        z-index: 2;
        background-color: #e25252;
    }

    nav ul li a{
        display: block;
        margin: 0;
        padding: 0.4em 0;
    }

    nav ul li a:hover {
        background-color: #fff;
        border: none;
        text-decoration: none;
        color: #e25252;
        text-shadow: none;
    }

    .dropdown-content{
        display: none;
        width: 100%;
        position: relative;
        top: 5px;
        text-align: center;
        z-index: 3;
        padding: 0.2em;
        font-size: 0.8em;
        margin: 0 auto;
        color: #595959;
        /* border-left: 1px solid #e25252; */
        background-color: #fff;
        text-shadow: none;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .dropdown-content a {
        text-align: center;
        color: #595959;
        display: block;
        background-color: #ffb9b9;
        padding: 0.4em 0;
        text-shadow: none
      }
    
    .hamburgerImg:hover  {
        opacity: 0.5;
    }

    .slider{
        height: 250px;
        
    }

    .background{
        height: 250px;
        margin: 0;
        position: absolute;
    }

    .slidertext1 {
        border: none;
        padding: 0.5em 0 0.5em 0.5em;
    }
    .arrow{
        object-fit: contain;
        max-width: 20%;
    }
    .slidertext1 p{
        font-size: 1.3em;
        padding-right: 1em;
        margin-right: 0;
    }

    main{
        margin: 2em 1.5em ;
    }

    .categories{
        margin: 0;
    }

    .col1{
        padding-left: 20px;
    }

    .rows{
        padding-right: 0;
    }

    h1{
        font-size: 1.8em;
    }

    h2{
        font-size: 1.5em;
    }

    .sectionheader img{
        height: 2.8em;
    }

    .steps{
        flex-direction: column;
        margin: 10px auto;
        justify-content: flex-end;
    }

    .steps button{
        width: 21em;
        margin: 10px auto;
        cursor: pointer;
    }
  
    .team img{
        width: 160px;
    }

    .col1 img{
        width: 120px;
    }

    .app-text p, .services p{
        font-size: 16px;
        padding: 5px 20px;
        word-wrap: break-word;
    }


    .app-text h1{
        font-size: 2.2em;
        margin: 0 auto;
    }

    .foot p{
        font-size: 1em;
    }

    .footer-col-2, .footer-col-3{
        padding: 0 10px;
    }

    .toto{
        color: #e25252;
        margin-left: 20px;
        font-size: 75px;
        padding-bottom: 10px;
        padding-left: 35px;
      }


    .services h1 {
        font-size: 50px;
        margin-left: -20px;
        margin-bottom: -20px;
    }
    .servssmall-container h2{
        margin-top: -30px;
        font-size: 40px;
        margin-left: -50px;
    }
    .servscol-3 img{
        display: block;
        padding-left: 25px;
        margin-top: 20px;
    }
    .servscol-3 h1{
        font-size: 20px;
        margin-left: -195px;
    }
    .servscol-3 p{
        display: block;
        clear: both;
        padding-left: 10px;
        margin-top: 10px;
        word-wrap: break-word;
    }
    .services img{
        display: block;
        float: none;
        margin-top: -80px;
        width: 160px;
    }


}
/*400px*/
/* @media only screen and (max-width: 400px) {
    .servscol-3 p{
        margin-top: 200px;
        margin-right: 320px;
        word-wrap: break-word;
        
    }
} */
