
body{
    font-family: sans-serif;
   /* background-color: aquamarine;*/
}

header #logo{
    max-width: 250px;
    margin: 0.5em 1em;
}

/*NAVBAR*/
@font-face {
    font-family: navbarFont;
    src: url("../fonts/Rubik-Light.ttf") format("truetype");
}
        nav{
            margin-top: 0.5em;
            float: right;
            vertical-align: middle;
            /* border: 3px solid red; */
        }
        #navbar_back{
            max-height: 130px;
            background-image: url("../images/navBarBackgrnd.png");
            background-size: cover;
        }

        nav ul{
            list-style: none;
            margin-left: 0;
            padding: 0.5em 2em;
        }

        nav ul li{
            font-family: navbarFont, sans-serif;
            margin: 0.3em 1em 0 1em;
            display: inline-block;
            font-weight: 700;
            font-size: 1.2em;
        }

        nav li a{
            color: #fff;
            margin: 0.2em;
            padding: 0.3em;
            /* border: 1px solid #000; */
            text-decoration: none;
            text-shadow: 0 0 5px #280606;
        }
        .listarrow{
            width: 16px;
            vertical-align: top;
            margin-top: 4px;
            -webkit-filter: drop-shadow(0 0 6px #280606);
            filter: drop-shadow(0 0 6px #280606);
        }

        .currentPage{
            opacity: 0.5;
            font-weight: bold;
            filter: drop-shadow(0 0 6px #ffa600);
        }

        /*Button for responsive menu, it is a checkbox*/
        .hamburgerContainer input, .hamburgerImg{
            display: none;
        }

        nav li a:hover{
            border-bottom: 3px solid #fff;
            opacity: 0.6;
        }

        nav li a:active{
            opacity: 0.2;
        }

        .dropdown{
            cursor: pointer;
        }
        
        .dropdown-content{
            display: none;
            position: absolute;
            /* right: 11.5em; */
            top: 4.4em;
            margin-top: 20px;
            padding: 0.2em;
            font-size: 0.8em;
            margin: 0 auto;
            color: #595959;
            /* border-left: 1px solid #e25252; */
            background-color: #fff;
            text-shadow: none;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }

        .dropdown-content a {
            text-align: left;
            color: #595959;
            display: block;
            text-align: left;
            background-color: #fff;
            text-shadow: none
          }
          .dropdown-content a:hover{
            opacity: 1;
            color: #e25252;
          }
         
        .dropdown:hover .dropdown-content {
            display: block;
            /* background-color: #e25252; */
          }
        
/*SLIDER*/
    #slider{
        margin-top: 0;
    }
    
    #slider img{
         width: 100%;
    }
    #slider img:hover + .tooltip{
        display: block;
    }
    .tooltip{
        font-size: 2em;
        position: absolute;
        top: 200px;
        left: 50px;
        display: none;
        color: #e25252;
        text-shadow:0 0 15px #ffffff;
    }

    fn{
        font-size: 0.6em;
        color: rgb(142, 142, 142);
        margin-left: 1em;
    }

/*MAIN*/
    main{
        margin: 2em 12em;
    }

    .sectionheader{
        background-image: linear-gradient(90deg,#e25252, rgb(241, 106, 72),#e25252) ;
        padding: 0px 0.8em;
        color: #fff;
        height: fit-content;
    }

    h1{
        font-family: navbarFont, sans-serif;
        display: inline;
    }

    .sectionheader img{
        float: right;
        margin: -6px;
        padding: 0;
        display: inline;
        height: 50px;
        border-radius: 50%;
    }
    
/*EXTERNAL LINKS*/
    main a, section a{  
    margin-top: 0.8em;
    margin-left: 1em;
    padding: 0.4em;
    text-decoration: none;
    color: #fff;
    background-color:#6e6e6e;
    border-radius: 7px;
    border: 2px solid rgb(177, 177, 177);
    }

    main a:hover, section a:hover{  
        color: #fff;
        background-color: #e25252;
        border-radius: 7px;
        border: 2px solid rgb(177, 177, 177);
        }

/*ABOUT*/
    #about{
        margin: auto;
        color: rgb(45, 45, 45);
        border-left: 1px solid #e25252;
        border-radius: 3px;
    }
    #about p, #services p{
        padding: 0 1.3em;
    }

    #about p::first-letter{
        font-size: 1.4em;
    }

    #about span{
        font-weight: bold;
        font-style: italic;
        font-size: 1.2em;
        color: #595959;
    }

    .team img{
        padding: 1.2em;
        width: 300px;
    }

/*SERVICES*/
    #services{
        margin: auto;
        color: rgb(45, 45, 45);
        border-left: 1px solid #e25252;
        border-radius: 3px;  
    }

    #services hr{
        margin: 5px 0;
        height: 3px;
        color: #e25252;
    }

    .rows{
        /* margin-left: -50px; */
        max-width: 1080px;
        margin: auto;
        /* padding-left: 25px; */
        padding-right: 25px;
    }

    .col1 img{
        /* margin-left: 20px; */
        width: 12.5em;
        padding: 1.2em;
    }

    .categories{
        margin: 70px 0;
        color: #e25252;
    }

    .col1{
        flex-basis: 30%;
        min-width: 250px;
        padding-left: 50px;
        margin-bottom: 30px;
    }

/*FOOTER*/
    #footer {
        font-size: 14px;
        padding: 1.5em 0;
        background: #e25252;
        color: #FFE4E1;
        text-align: center;
    }
    .foot p{
        /* margin-left: 390px; */
        margin: 0.2em 0;
        font-size: 20px;
    }

    .foot hr{
        margin: 15px 0;
        height: 1.5px;
        color: #FFE4E1;
    }
    .foot a{
        /* margin-left: 550px; */
        margin: 0;
        font-size: 16px;
        color:#fff;
        text-decoration: none;
    }
    .foot a:hover{
        opacity: 0.5;
    }

    .foot .icon{
        width: 2.6em;
        margin: 0 0.3em;
        padding: 0;
    }

    .foot .hometopbtn{
        display:inline-flex;
        align-items: center;
        justify-content: center;
    }

    
/*RESPONSIVENESS*/
@media only screen and (max-width: 950px) {
    
    #navbar_back{ 
        margin-right: -2.9em;
        background-image: url("../images/navBarBackgrnd.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    nav ul li{
        margin: 0.6em 1.1em 0.2em 0.4em;
        margin: 0.3em 1em 0.2em 0;
    }
    nav li a{
        color: #fff;
        margin: 0.2em ;
            padding: 0.3em ;
    }
    .dropdown-content a {
        padding: 0.2em;
    }
    main{
        margin: 2em 6em;
    }

}
/*785px*/

@media only screen and (max-width: 785px) {
    body {
        background-color: #fff;
    }
    #logo{
        width: 15em;
    }
    nav{
        margin-top: 0px;
        width: 100%;
        z-index: 1;
    }
    main{
        margin: 2em 2.5em;
    }
    #services{
        margin: 2em 3em;
    }

    #navbar_back{
        margin: 0;
        background-image: none;
    }
    .hamburgerContainer {
        display: block;
        margin-top: -3.5em;
        cursor: pointer;
        text-align: center;
        z-index: 2;
        border: 1px solid rgb(255, 255, 255);
    }

    .hamburgerImg{
        display: block;
        max-width: 4em;
        float: right;
        margin-right: 1em;
        margin-bottom: 1.5em;
    }

    nav ul{
        display: none;
        margin: 0;
        clear: right;
        padding: 0;
        flex-direction: column;
        z-index: 3;
        /* background-color: #e25252; */
        }

    nav ul li {
        color: #fff;
        margin: 0;
        padding: 0;
        width: 100%;
        display: inline-block;
        border: 1px solid #ffffff;
        text-decoration: none;
        text-shadow: 0 0 5px #280606;
        z-index: 4;
        background-color: #e25252;
    }

    nav ul li a{
        display: block;
        margin: 0;
        padding: 0.4em 0;
    }

    nav ul li a:hover {
        background-color: #fff;
        border: none;
        text-decoration: none;
        color: #e25252;
        text-shadow: none;
        z-index: 5;
    }

    .dropdown-content{
        display: none;
        width: 100%;
        position: relative;
        top: 5px;
        text-align: center;
        z-index: 6;
        /* right: 11.5em; */
        padding: 0.2em;
        font-size: 0.8em;
        margin: 0 auto;
        color: #595959;
        /* border-left: 1px solid #e25252; */
        background-color: #fff;
        text-shadow: none;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .dropdown-content a {
        text-align: center;
        color: #595959;
        display: block;
        background-color: #ffb9b9;
        padding: 0.4em 0;
        text-shadow: none
      }
    /* #slider{
        margin-top: 9em;
    } */

    /* If checked, show the ul with the menu */
    .hamburgerContainer input:checked ~ ul {
        display: flex;
        margin-bottom: 9em;
    }

    .hamburgerImg:hover  {
        opacity: 0.5;
    }

}
